<%= form_for(@std) do |f| %>
  <% if @std.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@std.errors.count, "error") %> prohibited this std from being saved:</h2>

      <ul>
      <% @std.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :key %><br>
    <%= f.text_field :key %>
  </div>
  <div class="field">
    <%= f.label :label %><br>
    <%= f.text_field :label %>
  </div>
  <div class="field">
    <%= f.label :help %><br>
    <%= f.text_field :help %>
  </div>
  <div class="field">
    <%= f.label :visited %><br>
    <%= f.text_field :visited %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
