<p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= @std.key %>
</p>

<p>
  <strong>Label:</strong>
  <%= @std.label %>
</p>

<p>
  <strong>Help:</strong>
  <%= @std.help %>
</p>

<p>
  <strong>Visited:</strong>
  <%= @std.visited %>
</p>

<%= link_to 'Edit', edit_std_path(@std) %> |
<%= link_to 'Back', stds_path %>
