<%= form_for(@template, :remote => true) do |f| %>
<% if @template.errors.any? %>
<div id="error_explanation" class="alert-box alert">
  <h2><%= pluralize(@template.errors.count, "error") %>
    prohibited this template from being saved:</h2>
    <ul>
      <% @template.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <h4 class="subheader">Template Properties</h4>
  <div class="row">
    <div class="small-3 columns">
      <%= f.label :identifier, :class => 'right inline' %>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :identifier, :tabindex => autotab, :autofocus => true, :required => '' %>
    </div>
  </div>
  <div class="row">
    <div class="small-3 columns">
      <%= f.label :title, :class => 'right inline' %>
    </div>
    <div class="small-9 columns">
      <%= f.text_area :title, :tabindex => autotab, :required => '' %>
    </div>
  </div>
  <div class="row">
    <div class="small-3 columns">
      <%= f.label :help, :class => 'right inline' %>
    </div>
    <div class="small-9 columns">
      <%= f.text_area :help, :tabindex => autotab %>
    </div>
  </div>
  <div class="row">
    <div class="small-3 columns">
      <%= f.label :publisher, :class => 'right inline' %>
    </div>
    <div class="small-9 columns">
     <% if current_user.has_dropbox %>
     <%= f.select(:publisher, options_for_select([['SQL', 'sql'], ['URL', 'url'],['Email', 'mail'], ['File','file'],['Dropbox','dropbox']], {:selected => 'url'}), :tabindex => autotab) %>
     <% else %>
     <%= f.select(:publisher, options_for_select([['SQL', 'sql'], ['URL', 'url'],['Email', 'mail'], ['File','file']], {:selected => 'url'}), :tabindex => autotab) %>
     <% end %>

      
    </div>
  </div>
  <div id="publisher_content">
    <%= render :partial => "templates/payload_url", locals: {:template => @template} %>
  </div>
  <div class="actions">
    <%= f.submit 'Create', :class => 'button right success small radius', :tabindex => autotab %>
  </div>
  <% end %>