<div class="row">
  <div class="small-3 columns">
    <label for="publisher_url_method" class="right inline">Method</label>
  </div>
  <div class="small-9 columns">
    <%= select_tag 'template[method]', options_for_select([['POST', 'post'], ['GET', 'get'], ['UPDATE', 'update'],['DELETE', 'delete']], {:selected => (template.method.nil?) ? 'get' : template.method}), {:id => 'publisher_url_method', :tabindex => autotab} %>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label for="publisher_url_uri" class="right inline">URI</label>
  </div>
  <div class="small-9 columns">
    <input type="url" tabindex="<%= autotab %>" value="<%= template.uri.nil? ? '' : template.uri %>" name="template[uri]" required id="publisher_url_uri" placeholder="E.g.: https://bioinformatics.ua.pt/i2x/..." />
  </div>
</div>
<!-- Conditional POST parameters start -->
<div id="publiser_url_post_params">
  <input type="hidden" id="url_post_params_hidden" name="template[selectors]" value='<%= @template.selectors.nil? ? '[]' : @template.selectors %>' />

  <% i = 1 %>
  <% unless template.selectors.nil? then %>
  <% JSON.parse(template.selectors).each do |selector| %> 
  <% selector.each do |k,v| %>
  <div class="row">
    <div class="url_post_params_<%= i %> publisher_url_post_params_new_<%= i %>">
      <div class="small-3 columns left">
        <label class="right inline">Parameter <%= i %></label>
      </div>
      <div class="small-4 columns url_post_params_key_<%= i %>">
        <input id="publisher_url_post_params_key_<%= i %>" data-id="<%= i %>" type="text" disabled class="disabled publisher_url_post_params_key" value="<%= k %>" />
      </div>
      <div class="small-4 columns url_post_params_value_<%= i %>">
        <input id="publisher_url_post_params_value_<%= i %>" type="text" placeholder="E.g.: id" disabled class="disabled" value="<%= v %>" />
      </div>
      <div class="small-1 columns">
        <a href="#" data-id="<%= i %>" class="remove right publisher_url_params_remove">Remove</a>
      </div>
    </div>
  </div> 
  <% i = i +1 %>
  <% end %>
  <% end %>
  <% end %>
</div>

<div class="row">
  <div class="small-3 columns">
    <label class="right inline">New parameter</label>
  </div>
  <div class="small-4 columns">
    <input type="text" class="publisher_url_post_params_key " tabindex="<%= autotab %>" data-id="<%= i %>" placeholder="Key" id="publisher_url_post_params_key_<%= i %>" />
  </div>
  <div class="small-4 columns">
    <input type="text" class="publisher_url_post_params_value " tabindex="<%= autotab %>" data-id="<%= i %>" placeholder="Value" id="publisher_url_post_params_value_<%= i %>" />
  </div>
  <div class="small-1 columns">
    <a href="#" data-id="<%= i %>" class="button tiny radius publisher_url_post_params_add" tabindex="<%= autotab %>" id="publisher_url_post_params_button_<%= i %>">Add</a>
  </div>
</div>
