
<div class="row">
  <div class="small-11 columns left">
    <span class="label secondary radius"><small>Updated <%= time_ago_in_words(template.updated_at) %> ago</small></span>
    <span class="label secondary radius"><small>Last delivery <%= template.last_execute_at.nil? ? 'Not executed' : time_ago_in_words(template.last_execute_at) +' ago' %></small></span>
  </div>
  <div class="small-1 columns right text-right">
   <span class="has-tip tip-top radius" data-tooltip title="Edit <%= template.title %>"><%= link_to '', edit_template_path(template), :class => "icon-settings xl-icon", :title => "Edit #{template.title}" %></span>
 </div>
</div>
<br />
<div class="row">
  <div class="small-2 columns">
    <div class="agent-hl">
      <div class="big center">
       <span class="has-tip tip-top radius" data-tooltip title="Events: i2x delivered this template <%= template.count %> times"><%= template.count %></span>
      </div>
      <h5 class="center icon-list xl-icon"></h5>
    </div>
    <div class="agent-hl">
      <div class="big center">
        <span class="has-tip tip-top radius" data-tooltip title="Delivery: this template delivers '<%= template.publisher %>'' output"><%= template.publisher %></span>
      </div>
      <h5 class="center icon-publisher xl-icon"></h5>
    </div>
  </div>
  <div class="small-10 columns">
    <div class="row">
      <h4 class="subheader">Help</h4>
      <%= template.help %>
    </div>
    <hr>
    <div class="row">
      <h4 class="subheader">Publisher</h4>
      <% if template.publisher == 'sql' then %>
      <%= render partial: "templates/show_sql", locals: {:template => template}%>
      <% end %>
      <% if template.publisher == 'file' then %>
      <%= render partial: "templates/show_file", locals: {:template => template}%>
      <% end %>
      <% if template.publisher == 'url' then %>
      <%= render partial: "templates/show_url", locals: {:template => template}%>
      <% end %>
      <% if template.publisher == 'mail' then %>
      <%= render partial: "templates/show_mail", locals: {:template => template}%>
      <% end %>
      <% if template.publisher == 'dropbox' then %>
      <%= render partial: "templates/show_dropbox", locals: {:template => template}%>
      <% end %>
    </div>
  </div>
</div>
