<div class="row">
  <div class="small-1 columns">
    <div class="right inline icon-properties xl-icon has-tip radius" data-tooltip class="has-tip" title="Email Details">&nbsp;</div>
  </div>
  <div class="small-11 columns">
    <div class="row">
      <div class="small-2 columns">
        <strong class="right inline">To</strong>
      </div>
      <div class="small-10 columns">
        <%= highlight_variables(template[:payload][:to]) %>
      </div>
    </div>
    <div class="row">
      <div class="small-2 columns">
        <strong class="right inline">CC</strong>
      </div>
      <div class="small-10 columns">
        <%= highlight_variables(template[:payload][:cc]) %>
      </div>
    </div>
    <div class="row">
      <div class="small-2 columns">
        <strong class="right inline">BCC</strong>
      </div>
      <div class="small-10 columns">
        <%= highlight_variables(template[:payload][:bcc]) %>
      </div>
    </div>
    <div class="row">
      <div class="small-2 columns">
        <strong class="right inline">Subject</strong>
      </div>
      <div class="small-10 columns">
        <%= highlight_variables(template[:payload][:subject]) %>
      </div>
    </div>
    <div class="row">
      <div class="small-2 columns">
        <strong class="right inline">Message</strong>
      </div>
      <div class="small-10 columns">
        <%= highlight_variables(template[:payload][:message]) %>
      </div>
    </div>
  </div>
</div>