<% content_for :title, "Edit #{@template.title} - #{Settings.app.title}" %>
<ul class="breadcrumbs">
  <li><a href="/">Home</a></li>
  <li><%= link_to 'Templates', templates_path %></li>
  <li><%= link_to @template.title, @template %></li>
  <li class="current">Edit <%= @template.title %></li>
</ul>
<h1>Editing <strong><%= @template.title %></strong> template</h1>

<%= render 'form' %>

<div class="row">
  <div class="small-1 columns right">
    <%= link_to 'Remove', @template, :class => 'remove right', method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>