<% content_for :title, "Templates - #{Settings.app.title}" %>
<ul class="breadcrumbs">
  <li><a href="/">Home</a></li>
  <li class="current">Templates</li>
</ul>
<h1>Templates</h1>
<% unless flash[:notice].nil? then %>
  <div data-alert class="alert-box warning radius">
    <%= flash[:notice].html_safe %> <a href="#" class="close">&times;</a>
  </div>
<% end %>
<div class="small-9 columns">
  <% @templates.each do |template| %>
    <div class="row agent-info <%= (template.status != 0) ? 'info-enabled' : 'info-disabled'  %>">
      <div class="small-11 columns left">
        <div class="left">
          <div class="circle_48 <%= (template.status != 0) ? 'on' : 'off'  %>">
            <%= template.count %>
          </div>
        </div>
        <div class="info-details">
          <h6 class="subheader"><%= template.title %></h6>
          <span class="label secondary radius"><%= time_ago_in_words(template.last_execute_at) %>
            ago</span>
          <span class="label secondary radius"><i class="icon-level-up"></i><%= template.publisher %></span>
        </div>
      </div>
      <div class="small-1 columns right">
        <div class="right">
          <%= link_to '<i class="icon-cog" data-tooltip class="has-tip" title="Edit"></i>'.html_safe, edit_template_path(template), :class => 'action right' %>
          <%= link_to '<i class="icon-three-dots" data-tooltip class="has-tip" title="View"></i>'.html_safe, template, :class => 'action right' %>
        </div>
      </div>
    </div>
  <% end %>
  <hr>
    <h5 class="subheader">Add Sample Template</h5>
    <div class="row agent-info info-enabled">
      <div class="small-11 columns">
        <div class="info-details">
          <h6 class="subheader">Insert into database</h6>
          <span class="label secondary"><i class="icon-level-up"></i>sql</span>
        </div>
      </div>
      <div class="small-1 columns right">
        <div class="right">
          <%= link_to '<i class="icon-plus" data-tooltip class="has-tip" title="Add insert into database template"></i>'.html_safe, new_template_path, :class => 'action right' %>
        </div>
      </div>
    </div>
    <div class="row agent-info info-enabled">
      <div class="small-11 columns">
        <div class="info-details">
          <h6 class="subheader">POST HTTP</h6>
          <span class="label secondary"><i class="icon-level-up"></i>http</span>
        </div>
      </div>
      <div class="small-1 columns right">
        <div class="right">
          <%= link_to '<i class="icon-plus" data-tooltip class="has-tip" title="Add POST HTTP template"></i>'.html_safe, new_template_path, :class => 'action right' %>
        </div>
      </div>
    </div>
  </div>
  <div class="small-3 columns right">
    <%= link_to 'Create template <i class="icon-open-book"></i>'.html_safe, new_template_path, :class => 'button small radius' %>
    <%= render partial: "helper/event_list"  %>
  </div>