<% content_for :title, "Templates - #{ENV["APP_TITLE"]}" %>
<ul class="breadcrumbs">
  <li><a href="<%= root_url %>">Home</a></li>
  <li class="current">Templates</li>
</ul>
<h1>Templates</h1>
<% unless flash[:notice].nil? then %>
  <div data-alert class="alert-box warning radius">
    <%= flash[:notice].html_safe %> <a href="#" class="close">&times;</a>
  </div>
<% end %>
<div class="small-9 columns">
  <% @templates.each do |template| %>
    <div class="row agent-info <%= (template.status != 0) ? 'info-enabled' : 'info-disabled'  %>">
      <div class="small-11 columns left">
        <div class="left">
          <div class="circle_48 <%= (template.status != 0) ? 'on' : 'off'  %>">
            <%= template.count %>
          </div>
        </div>
        <div class="info-details">
          <h6 class="subheader"><%= template.title %></h6>
          <span class="label secondary radius icon-update"><%= template.last_execute_at.nil? ? 'Not executed' : time_ago_in_words(template.last_execute_at) + ' ago' %></span>
          <span class="label secondary radius icon-publisher"><%= template.publisher %></span>
        </div>
      </div>
      <div class="small-1 columns right">
        <div class="right">
          <%= link_to '', edit_template_path(template), :class => 'action right has-tip icon-settings', :title => "Edit #{template.title}", :data => {:tooltip => ''} %>
          <br >
          <%= link_to '', template, :class => 'action right has-tip icon-view', :title => "View #{template.title}", :data => {:tooltip => ''} %>
        </div>
      </div>
    </div>
  <% end %>
  <hr>
    <h5 class="subheader">Add Sample Template</h5>
    <div class="row agent-info info-enabled">
      <div class="small-11 columns">
        <div class="info-details">
          <h6 class="subheader">Insert into database</h6>
          <span class="label secondary icon-publisher">sql</span>
        </div>
      </div>
      <div class="small-1 columns right">
        <div class="right">
          <%= link_to '', new_template_path, :class => 'action right icon-add' %>
        </div>
      </div>
    </div>
    <div class="row agent-info info-enabled">
      <div class="small-11 columns">
        <div class="info-details">
          <h6 class="subheader">POST HTTP</h6>
          <span class="label secondary icon-publisher">url</span>
        </div>
      </div>
      <div class="small-1 columns right">
        <div class="right">
          <%= link_to '', new_template_path, :class => 'action right icon-add' %>
        </div>
      </div>
    </div>
  </div>
  <div class="small-3 columns right">
    <%= link_to ' New Template', new_template_path, :class => 'button small radius icon-template' %>
     <h4>Go to</h4>
    <ul class="no-bullet">
      <li><%= link_to 'Agents'.html_safe, {:controller => '/agents'}, :class => 'icon-agent'%></li>
      <li><%= link_to 'Integrations'.html_safe, {:controller => '/integrations'}, :class => 'icon-integration'%></li>
    </ul>
    <%= render partial: "helper/event_list"  %>
  </div>