<% content_for :title, "#{@template.title} - #{Settings.app.title}" %>
<ul class="breadcrumbs">
  <li><a href="<%= root_url %>">Home</a></li>
  <li><%= link_to 'Templates', templates_path %></li>
  <li class="current"><%= @template.title %></li>
</ul>
<div class="row">
  <div class="small-12 columns">
    <h1><%= @template.title %></h1>
  </div>
</div>
<%= render :partial => "templates/show", locals: {:template => @template} %>