<%= form_for(@template) do |f| %>
  <% if @template.errors.any? %>
    <div id="error_explanation" class="alert-box alert">
      <h2><%= pluralize(@template.errors.count, "error") %> prohibited this template from being saved:</h2>

      <ul>
      <% @template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :identifier %><br>
    <%= f.text_field :identifier %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_area :title %>
  </div>
  <div class="field">
    <%= f.label :help %><br>
    <%= f.text_area :help %>
  </div>
  <div class="field">
    <%= f.label :publisher %><br>
    <%= select_tag(:publisher, options_for_select([['SQL', 'sql'], ['URL', 'url'], ['File','file']])) %>    
  </div>
  <div class="field">
    <%= f.label :variables %><br>
    <%= f.text_area :variables %>
  </div>
  <div class="field">
  <%= f.label :payload %><br>
<%= f.text_area :payload %>
  </div>
  <div class="field">
    <%= f.label :memory %><br>
    <%= f.text_area :memory %>
  </div>
  <div class="actions">
    <a class="button success" id="start">Submit</a>
  </div>
<% end %>