<!-- User logged in, display details and links to work areas -->
<% if user_signed_in? then %>
<ul class="off-canvas-list">
  <li><label><%=  current_user.name ||= current_user.username %></label></li>
  <li><%= link_to('Details'.html_safe, edit_user_registration_path, :class => 'icon-userdetails') %></li>
  <li><%= link_to('Sign Out'.html_safe, destroy_user_session_path, :method => :delete, :class => 'icon-signout') %></li>
</ul>
<br/>
<ul class="off-canvas-list">
  <li><label>Go To</label></li>
  <li><%= link_to 'Dashboard'.html_safe, {:controller => '/integrations'}, :class => 'icon-integration', :title => 'Go to Dashboard' %></li>
  <li><%= link_to 'Agents'.html_safe, {:controller => '/agents'}, :class => 'icon-agent', :title => 'Go to Agents'%></li>
  <li><%= link_to 'Templates', {:controller => '/templates'}, :class => 'icon-template', :title => 'Go to Templates' %></li>
  <li><%= link_to 'Files', {:controller => '/files', :action => 'index'}, :class => 'icon-files', :title => 'Go to Files' %></li>
</ul>
<!-- User not logged in, display login and social authentication links -->
<% else %>
<ul class="off-canvas-list">
  <li><label>Login</label></li>
  <li>
     <%= form_for("user", :url => user_session_path, :html => {:novalidate => true}) do |f| %>
    <div class="row">
      <div class="small-12">
        <%= f.text_field :login, :placeholder => 'Login' %>
      </div>
      <div class="small-12">
        <%= f.password_field :password, :placeholder => 'Password' %>
      </div>
      <div class="small-12">
        <span class="user-side-text left mg-right">Remember me?</span>
        <%= f.check_box :remember_me, :checked => true, :class => 'left remember_me' %>
        <%= f.submit 'Sign in', :class => 'button tiny radius right mg-right' %>
      </div>
      <div class="right">
        <%= link_to "<small>Forgot your password?</small>".html_safe, new_password_path('user'), :class => 'right' %>
      </div>
    </div>
    <% end %></li>
    <li><label><%= link_to('Sign up'.html_safe, new_user_registration_path, :class => 'icon-signup')  %></label></li>
    <li>
      <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to "", omniauth_authorize_path('user', provider), :class => "no-block icon-#{provider}" %>
      <% end -%>
    </li>    
  </ul>
  <%end %>




