<% content_for :title, "Events page #{params[:page]} - #{ENV["APP_TITLE"]}" %>
<ul class="breadcrumbs">
  <li><a href="<%= root_url %>">Home</a></li>
  <li>Events</li>
  <li class="current">Page <%= params[:page] %></li>
</ul>
<h1>Events</h1>
<% unless flash[:notice].nil? then %>
<div data-alert class="alert-box warning radius">
  <%= flash[:notice].html_safe %>
  <a href="#" class="close">&times;</a>
</div>
<% end %>
<div class="row">
  <div class="small-12 columns">
    <table>
      <thead>
        <tr>
          <th><h3>Agent</h3></th>
          <th><h3>Payload</h3></th>
          <th><h3>Created</h3></th>
        </tr>
        </thead>
      <tbody>
        <% @events.each do |event| %>
        <tr>
          <td><%= link_to event.agent.title, event.agent %></td>
          <td><%= truncate(event.payload.to_s, length: 256, omission: link_to(' ... (continued)', event), escape: false ) %></td>
          <td><%= time_ago_in_words(event.created_at) %> ago</td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="small-12 pagination-centered">
    <%= paginate @events%>
  </div>
</div>