<p id="notice"><%= notice %></p>

<p>
  <strong>Payload:</strong>
  <%= @event.payload %>
</p>

<p>
  <strong>Memory:</strong>
  <%= @event.memory %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
