<div class="row">
  <div class="small-3 columns">
    <label class="right inline">URI</label>
  </div>
  <div class="small-9 columns">
    <input id="agent_payload_uri" tabindex="<%= autotab %>" value="<%= @agent.uri.nil? ? '' : @agent.uri %>" name="agent[uri]" type="text" />
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline">Query</label>
  </div>
  <div class="small-9 columns">
    <input id="agent_payload_cache" tabindex="<%= autotab %>" value="<%= @agent.query.nil? ? '' : @agent.query %>" name="agent[query]" type="text" />
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline">Cache</label>
  </div>
  <div class="small-9 columns">
    <input id="agent_payload_cache" tabindex="<%= autotab %>" value="<%= @agent.cache.nil? ? '' : @agent.cache %>" name="agent[cache]" type="text" />
  </div>
</div>
<%= render :partial => "edit_selectors", locals: {:agent => @agent} %>