<div class="row">
  <div class="small-3 columns">
    <label for="agent_payload_sqlserver" class="right inline">Server</label>
  </div>
  <div class="small-9 columns">
    <select id="agent_sqlserver" name="agent[server]" tabindex="<%= autotab %>">
      <option selected="selected" value="mysql">MySQL</option>
      <option value="postgresql">Postgres</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label for="agent_payload_host" class="right inline">Host</label>
  </div>
  <div class="small-9 columns">
    <input type="text" id="agent_payload_host" tabindex="<%= autotab %>" value="<%= @agent.host.nil? ? '' : @agent.host %>" name="agent[host]"  placeholder="E.g.: localhost" />
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label for="agent_payload_port" class="right inline">Port</label>
  </div>
  <div class="small-9 columns">
    <input type="number" id="agent_payload_port" name="agent[port]"  value="<%= @agent.port.nil? ? '' : @agent.port %>" tabindex="<%= autotab %>" placeholder="E.g.: 3306" />
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label for="agent_payload_database" class="right inline">Database</label>
  </div>
  <div class="small-9 columns">
    <input type="text" id="agent_payload_database" name="agent[database]" value="<%= @agent.database.nil? ? '' : @agent.database %>"  tabindex="<%= autotab %>" placeholder="E.g.: i2x" />
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label for="agent_payload_username" class="right inline">Username</label>
  </div>
  <div class="small-9 columns">
    <input type="text" id="agent_payload_username" name="agent[username]" value="<%= @agent.username.nil? ? '' : @agent.username %>"  tabindex="<%= autotab %>" placeholder="E.g.: root" />
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label for="agent_payload_password" class="right inline">Password</label>
  </div>
  <div class="small-9 columns">
    <input type="text" id="agent_payload_password" name="agent[password]" value="<%= @agent.password.nil? ? '' : @agent.password %>"  tabindex="<%= autotab %>" placeholder="E.g.: 12345" />
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label for="agent_payload_query" class="right inline">Query</label>
  </div>
  <div class="small-9 columns">
    <textarea id="agent_payload_query" tabindex="<%= autotab %>" name="agent[query]" placeholder="E.g.: SELECT * FROM..."><%= @agent.query.nil? ? '' : @agent.query %></textarea>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline">Cache</label>
  </div>
  <div class="small-9 columns">
    <input id="agent_payload_cache" tabindex="<%= autotab %>" name="agent[cache]" value="<%= @agent.cache.nil? ? '' : @agent.cache %>"  type="text" />
  </div>
</div>
<%= render :partial => "agents/edit_selectors", locals: {:agent => @agent} %>