<div class="row">
	<div class="small-3 columns">
		<label class="right inline">Identifier</label>
	</div>
	<div class="small-9 columns">
		<input id="agent_seed_identifier" value="<%= seed.identifier.nil? ? '' : seed.identifier %>" name="seed[identifier]" type="text" />
	</div>
</div>
<div class="row">
	<div class="small-3 columns">
		<label class="right inline">Title</label>
	</div>
	<div class="small-9 columns">
		<input id="agent_seed_identifier" value="<%= seed.title.nil? ? '' : seed.title %>" name="seed[title]" type="text" />
	</div>
</div>
<div class="row">
	<div class="small-3 columns">
		<label class="right inline">URI</label>
	</div>
	<div class="small-9 columns">
		<input id="agent_seed_uri" value="<%= seed.uri.nil? ? '' : seed.uri %>" name="seed[uri]" type="text" /> 
	</div>
</div>
<div class="row">
	<div class="small-3 columns">
		<label class="right inline">Headers</label>
	</div>
	<div class="small-9 columns">
		<input id="agent_seed_headers" name="seed[headers]" type="checkbox" <%= seed.checked ? 'checked' : ''  %> />
	</div>
</div>
<div class="row">
	<div class="small-3 columns">
		<label class="right inline">Cache</label>
	</div>
	<div class="small-9 columns">
		<input id="agent_seed_cache" value="<%= seed.cache.nil? ? '' : seed.cache %>" name="seed[cache]" type="number" />
	</div>
</div>
<div class="row">
	<div class="small-3 columns">
		<label class="right inline">Delimiter</label>
	</div>
	<div class="small-9 columns">
		<input id="agent_seed_delimiter" value="<%= seed.delimiter.nil? ? '' : seed.delimiter %>" name="seed[delimiter]" type="text" />
	</div>
</div>
<%= render :partial => "seed_edit_selectors", locals: {:seed => seed} %>