<div class="row">
  <div class="small-11 columns left">
    <span class="label secondary radius"><small>Updated
      <%= time_ago_in_words(agent.updated_at) %>
      ago</small></span>
      <span class="label secondary radius"><small>
        Last check
        <%= time_ago_in_words(agent.last_check_at) %>
        ago</small></span>
      </div>
      <div class="small-1 columns right text-right">
        <%= link_to '', edit_agent_path(agent), :data => {:tooltip => ''}, :title => "Edit #{agent.title}", :class => 'has-tip icon-settings' %>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="small-2 columns">
        <div class="agent-hl" data-tooltip class="has-tip tip-top" title="Events: i2x detected <%= agent.events.size %> for this agent" data-options="disable_for_touch:true">
          <div class="big center">
            <%= agent.events.size %>
          </div>
          <h5 class="center icon-list"></h5>
        </div>
        <div class="agent-hl" data-tooltip class="has-tip tip-top" title="Schedule: i2x polls this agent every <%= agent.schedule %>" data-options="disable_for_touch:true">
          <div class="big center">
            <%= agent.schedule %>
          </div>
          <h5 class="center icon-schedule"></h5>
        </div>
        <div class="agent-hl" data-tooltip class="has-tip tip-top" title="Monitor: this agent processes '<%= agent.publisher %>'' input" data-options="disable_for_touch:true">
          <div class="big center">
            <%= agent.publisher %>
          </div>
          <h5 class="center icon-publisher"></h5>
        </div>
      </div>
      <div class="small-10 columns">
        <div class="row">
          <h4 class="subheader">Help</h4>
          <%= agent.help %>
        </div>
        <hr>
        <div class="row">
          <h4 class="subheader">Publisher</h4>
          <% if agent.publisher == 'sql' then %>
          <%= render partial: "agents/show_sql", locals: {:agent => agent}%>
          <% end %>
          <% if agent.publisher == 'xml' then %>
          <%= render partial: "agents/show_xml", locals: {:agent => agent}%>
          <% end %>
          <% if agent.publisher == 'json' then %>
          <%= render partial: "agents/show_json", locals: {:agent => agent}%>
          <% end %>
          <% if agent.publisher == 'csv' then %>
          <%= render partial: "agents/show_csv", locals: {:agent => agent}%>
          <% end %>
        </div>
        <% if agent.seeds.size != 0 then %>
        <hr>
        <div class="row">
          <h4 class="subheader">Seeds</h4>
          <% agent.seeds.each do |s| %>
          <%= render partial: "seeds/show", locals: {:seed => s}   %>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
    