<% content_for :javascript_includes do %>
<%= javascript_include_tag "#{ENV['APP_HOST']}agents/new.js" %>
<% end %>

<% content_for :title, "Edit #{@agent.title} - #{ENV["APP_TITLE"]}" %>
<ul class="breadcrumbs">
  <li><a href="<%= root_url %>">Home</a></li>
  <li><%= link_to 'Agents', agents_path %></li>
  <li><%= link_to  @agent.title, @agent %></li>
  <li class="current">Edit <%= @agent.title %></li>
</ul>
<h1>Editing <strong><%= @agent.title %></strong> agent</h1>

<%= render 'form' %>
