<h1>Listing agents</h1>

<table>
  <thead>
    <tr>
      <th>Publisher</th>
      <th>Payload</th>
      <th>Memory</th>
      <th>Identifier</th>
      <th>Title</th>
      <th>Help</th>
      <th>Schedule</th>
      <th>Events count</th>
      <th>Last check at</th>
      <th>Last event</th>
      <th>Seed</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th>Action</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @agents.each do |agent| %>
      <tr>
        <td><%= agent.publisher %></td>
        <td><%= agent.payload %></td>
        <td><%= agent.memory %></td>
        <td><%= agent.identifier %></td>
        <td><%= agent.title %></td>
        <td><%= agent.help %></td>
        <td><%= agent.schedule %></td>
        <td><%= agent.events_count %></td>
        <td><%= agent.last_check_at %></td>
        <td><%= agent.last_event %></td>
        <td><%= agent.seed %></td>
        <td><%= agent.created_at %></td>
        <td><%= agent.updated_at %></td>
        <td><%= agent.action %></td>
        <td><%= link_to 'Show', agent %></td>
        <td><%= link_to 'Edit', edit_agent_path(agent) %></td>
        <td><%= link_to 'Destroy', agent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agent', new_agent_path %>
