<ul class="breadcrumbs">
  <li><a href="#">Home</a></li>
  <li class="current">Agents</li>
</ul>


<h1><i class="icon-cycle"></i> Agents</h1>

<div class="row">
  <div class="small-9 columns">
    <% @agents.each do |agent| %>
     <div class="row agent-info info-enabled">
     
     <div class="right">
      <span class="round label success">ENABLED</span>
     </div>
     <h3><%= agent.title %></h3>
     Last check <%= time_ago_in_words(agent.last_check_at) %> ago<br />
     <i class="icon-level-up"></i><%= agent.publisher %> <i class="icon-back-in-time"></i><%= agent.schedule %> 
    <div class="left">
     <i class="icon-level-up"></i><%= agent.publisher %> <i class="icon-back-in-time"></i><%= agent.schedule %> Last check <%= time_ago_in_words(agent.last_check_at) %> ago
     </div>
     <div class="right">
     <%= link_to '<i class="icon-cog"></i>'.html_safe, edit_agent_path(agent) %>
    <%= link_to '<i class="icon-three-dots"></i>'.html_safe, agent %>
    
     </div>
     </div>
     <% end %>
  </div>
  <div class="small-3 columns">
  <div class="right">
<%= link_to '<a class="button small success">Create new agent</a>'.html_safe, new_agent_path %>
</div>
</div>
</div>
