<h1><%= @agent.title %></h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Publisher:</strong>
  <%= @agent.publisher %>
</p>

<p>
  <strong>Payload:</strong>
  <%= @agent.payload %>
</p>

<p>
  <strong>Identifier:</strong>
  <%= @agent.identifier %>
</p>


<p>
  <strong>Help:</strong>
  <%= @agent.help %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @agent.schedule %>
</p>

<p>
  <strong>Events count:</strong>
  <%= @agent.events_count %>
</p>

<p>
  <strong>Last check at:</strong>
  <%= @agent.last_check_at %>
</p>

<p>
  <strong>Last event:</strong>
  <%= @agent.last_event %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @agent.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @agent.updated_at %>
</p>


<% @agent.seed.each do |seed| %>
<%= render partial: "seeds/show", locals: {:seed => seed} %>  
<% end %>

<%= link_to 'Edit', edit_agent_path(@agent) %> |
<%= link_to 'Back', agents_path %>
