<ul class="breadcrumbs">
  <li><a href="#">Home</a></li>
  <li><%= link_to 'Agents', agents_path %></li>
  <li class="current"><%= @agent.title %></li>
</ul>


<h1><i class="icon-cycle"></i><%= @agent.title %></h1>
Updated <%= time_ago_in_words(@agent.updated_at) %> ago


<p id="notice"><%= notice %></p>


  <% if @agent.publisher == 'sql' then %>
    <%= render partial: "agents/show_sql" %>
  <% end %>

<p>
  <strong>Payload:</strong>
  <%= @agent.payload %>
</p>

<p>
  <strong>Identifier:</strong>
  <%= @agent.identifier %>
</p>


<p>
  <strong>Help:</strong>
  <%= @agent.help %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @agent.schedule %>
</p>

<p>
  <strong>Events count:</strong>
  <%= @agent.events_count %>
</p>

<p>
  <strong>Last check at:</strong>
  <%= @agent.last_check_at %>
</p>

<p>
  <strong>Last event:</strong>
  <%= @agent.last_event %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @agent.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @agent.updated_at %>
</p>
<div class="right">
<%= link_to '<i class="icon-cog"></i> Edit'.html_safe, edit_agent_path(@agent) %>
</div>

<% @agent.seed.each do |seed| %>
<%= render partial: "seeds/show", locals: {:seed => seed} %>  
<% end %>



