<h2><%= seed.title %></h2>
<p>
  <strong>Identifier:</strong>
  <%= seed.identifier %>
</p>

<p>
  <strong>Title:</strong>
  <%= seed.title %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= seed.publisher %>
</p>

<p>
  <strong>Help:</strong>
  <%= seed.help %>
</p>

<p>
  <strong>Payload:</strong>
  <%= seed.payload %>
</p>