<%= form_for(@integration, :remote => true) do |f| %>
<% if @integration.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@integration.errors.count, "error") %>
    prohibited this integration from being saved:</h2>
    <ul>
      <% @integration.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <h4>Integration Properties</h4>
  <div class="row">
    <div class="small-3 columns">
      <%= f.label :identifier, :class => 'right inline' %>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :identifier, :tabindex => 1, :autofocus => true %>
    </div>
  </div>
  <div class="row">
    <div class="small-3 columns">
      <%= f.label :title, :class => 'right inline' %>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :title, :tabindex => 2 %>
    </div>
  </div>
  <div class="row">
    <div class="small-3 columns">
      <%= f.label :help, :class => 'right inline' %>
    </div>
    <div class="small-9 columns">
      <%= f.text_area :help, :tabindex => 3 %>
    </div>
  </div>
  <div class="row">
    <div class="small-2 columns actions right">
      <%= f.submit 'Save', :class => 'button tiny success radius right integration_save' %>
    </div>
  </div>
  <% end %>