<% content_for :title, "Editing #{@integration.title} - #{Settings.app.title}" %>
<ul class="breadcrumbs">
  <li><a href="<%= root_url %>">Home</a></li>
  <li><%= link_to 'Dashboard', integrations_path %></li>
  <li><%= link_to @integration.title, @integration %></li>
  <li class="current">Edit
    <%= @integration.title %></li>
  </ul>
  <h1 id="integration" data-id="<%= @integration.id %>">Editing <strong><%= @integration.title %></strong></h1>
  <%= render 'form' %>
  <!-- Agents -->
  <div class="row">
    <div class="small-12 medium-2 large-2 columns">
      <h3><%= pluralize(@integration.agents.size, 'Agent') %></h3>
    </div>
    <div class="small-12 medium-10 large-10 columns">
      <% @integration.agents.each do |agent| %>
      <%= render :partial => "agents/show_integration", locals: {:agent => agent} %>
      <% end %>
      <br />
      <div class="row" id="edit_select_agent" >
        <div class="small-3 medium-3 large-3 columns">
          <label class="right inline">Add agent</label>
        </div>
        <div class="small-9 medium-9 large-9 columns">
          <select id="edit_agent_select_list" tabindex="8">
            <option value="0" selected="selected">Create new agent...</option>
            <% @agents.each do |agent| %>
            <option value="<%= agent.id %>"><%= agent.title %></option>
            <% end %>
          </select>
        </div>
        <div class="small-12 medium-12 large-12 columns" >
          <div class="row">
            <div class="small-2 columns right">
              <a href="#" id="edit_save_agent_select" class="button tiny success radius right">Add</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Templates -->
  <div class="row">
    <div class="small-12 medium-2 large-2 columns">
      <h3><%= pluralize(@integration.templates.size, 'Template') %></h3>
    </div>
    <div class="small-12 medium-10 large-10 columns">
      <% @integration.templates.each do |template| %>
      <%= render :partial => "templates/show_integration", locals: {:template => template} %>
      <% end %>
      <div class="row" id="edit_select_template">
        <div class="small-3 medium-3 large-3 columns">
        <label class="right inline">Add template</label>
        </div>
        <div class="small-9 medium-9 large-9 columns">
          <select id="edit_template_select_list" tabindex="8">
            <option value="0" selected="selected">Create new template...</option>
            <% @templates.each do |template| %>
            <option value="<%= template.id %>"><%= template.title %></option>
            <% end %>
          </select>
        </div>
        <div class="small-12 medium-12 large-12 columns" >
          <div class="row">
            <div class="small-2 columns right">
              <a href="#" id="edit_save_template_select" class="button tiny success radius right">Add</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="small-1 columns right">
      <%= link_to 'Remove', @integration, :class => 'remove right', method: :delete, data: { confirm: "Are you sure you want to remove the #{@integration.title} integration?" } %>
    </div>
  </div>
