<% content_for :title, "Dashboard - #{ENV["APP_TITLE"]}" %>
<ul class="breadcrumbs">
  <li><a href="<%= root_url %>">Home</a></li>
  <li class="current">Dashboard</li>
</ul>
<h1>Dashboard</h1>
<!-- main content -->
<% unless flash[:notice].nil? then %>
<div data-alert class="alert-box warning radius">
  <%= flash[:notice].html_safe %>
  <a href="#" class="close">&times;</a>
</div>
<% end %>
<div class="small-9 columns">
  <% if @integrations.empty? %>
  <div class="row">
    <div class="small-12 columns">
      <p><strong>Integrations</strong> control your integration flow, connecting intelligent <%= link_to 'agents'.html_safe, {:controller => '/agents'}, :class => ''%> with delivery <%= link_to 'templates', {:controller => '/templates'}, :class => '' %>.</p>
      <% if current_user.agents.empty? %>
      <h5 class="subheader">Start by creating a <%= link_to 'new agent', new_agent_path, :title => 'Create new agent', :class => '', :data => { :tooltip => ''} %></h5>
      <% else %>
      <% if current_user.templates.empty? %>
      <h5 class="subheader">You have agents, now add a <%= link_to 'new template', new_template_path, :class => '' %></h5>
      <% else %>
      <h5 class="subheader">You agents and templates are ready, create a <%= link_to 'new integration'.html_safe, new_integration_path, :class => '' %></h5>
      <% end %>
      <% end %>
    </div>
  </div>

  <% end %>

  <% @integrations.each do |integration| %>
  <div class="row agent-info <%= (integration.status != 0) ? 'info-enabled' : 'info-disabled'  %>">
    <div class="small-11 columns left">
      <h6 class="subheader"><%= integration.title %></h6>
      <div class="row">
        <div class="small-5 columns">
          <ul class="no-bullet">
            <% integration.agents.each do |agent| %>
            <li><%= link_to agent.title, agent %>
              <span class="label secondary radius icon-publisher"> <%= agent.publisher %></span>
              <span class="label secondary radius icon-schedule"> <%= agent.schedule %></span></li>
              <% end %>
            </ul>
          </div>
          <div class="small-1 columns icon-forward" style="font-size: 2em;">
            &nbsp;
          </div>
          <div class="small-5 columns">
            <ul class="no-bullet">
              <% integration.templates.each do |template| %>
              <li><%= link_to template.title, template %>
                <span class="label secondary radius icon-publisher"><%= template.publisher %></span></li>
                <% end %>
              </ul>
            </div>
            <div class="small-1 columns">
              &nbsp;
            </div>
          </div>
        </div>
        <div class="small-1 columns right">
         <%= link_to '', {:controller => 'integrations', :action => 'execute', :id => integration.id}, :class => 'action right icon-play has-tip',:title => "Execute #{integration.title}", :data => {:tooltip => ''} %>
          <br />
          <%= link_to '', edit_integration_path(integration), :class => 'action right icon-settings' %>
          <br />
          <%= link_to '', integration, :class => 'action right icon-view' %>
        </div>
      </div>
      <% end %>
      <hr>
      <h5 class="subheader">or <strong>add a sample integration</strong></h5>
      <div class="row agent-info info-enabled">
        <div class="small-11 columns">
          <div class="left">
          </div>
          <div class="info-details">
            <h6 class="subheader">SQL to CSV file</h6>
            <span class="label secondary icon-publisher">sql</span>
            <span class="label secondary icon-schedule">2d</span>
            <span class="icon-forward"></span>
            <span class="label secondary radius icon-publisher">file</span>
          </div>
        </div>
        <div class="small-1 columns right">
          <div class="right">
            <%= link_to ''.html_safe, {:controller => 'integrations', :action => 'add', :agent => 'sql', :template => 'file'}, :class => 'action right has-tooltip icon-add', :title => "Add SQL results to CSV file sample integration", data: {:tooltip => ''}  %>
          </div>
        </div>
      </div>

      <div class="row agent-info info-enabled">
        <div class="small-11 columns">
          <div class="left">
          </div>
          <div class="info-details">
            <h6 class="subheader">XML to SQL table</h6>
            <span class="label secondary radius icon-publisher">xml</span>
            <span class="label secondary radius icon-schedule">2h</span>
            <span class="icon-forward"></span>
            <span class="label secondary radius icon-publisher">sql</span>
          </div>
        </div>
        <div class="small-1 columns right">
          <div class="right">
            <%= link_to ''.html_safe, {:controller => 'integrations', :action => 'add', :agent => 'xml', :template => 'sql'}, :class => 'action right has-tooltip icon-add', :title => "Add XML to SQL table integration", data: {:tooltip => ''}  %>
          </div>
        </div>
      </div>
    </div>
    <!-- sidebar -->
    <div class="small-3 columns">
      <% if current_user.agents.empty? %>
      <%= link_to 'New Agent', new_agent_path, :title => 'Create new agent', :class => 'button small radius icon-agent', :data => { :tooltip => ''} %>
      <% else %>
      <% if current_user.templates.empty? %>
      <%= link_to ' New Template', new_template_path, :class => 'button small radius icon-template' %>
      <% else %>
      <%= link_to ' New Integration'.html_safe, new_integration_path, :class => 'button small radius icon-integration' %>
      <% end %>
      <% end %>
      <h4>Go to</h4>
      <ul class="no-bullet">
        <li><%= link_to 'Agents'.html_safe, {:controller => '/agents'}, :class => 'icon-agent'%></li>
        <li><%= link_to 'Templates'.html_safe, {:controller => '/templates'}, :class => 'icon-template'%></li>
        <li><%= link_to 'Files', {:controller => '/files', :action => 'index'}, :class => 'icon-files' %></li>
      </ul>
      <%= render partial: "helper/event_list"  %>
    </div>