<% content_for :title, "Dashboard - #{ENV["APP_TITLE"]}" %>
<ul class="breadcrumbs">
  <li><a href="<%= root_url %>">Home</a></li>
  <li class="current">Dashboard</li>
</ul>
<h1>Dashboard</h1>
<!-- main content -->
<% unless flash[:notice].nil? then %>
<div data-alert class="alert-box warning radius">
  <%= flash[:notice].html_safe %>
  <a href="#" class="close">&times;</a>
</div>
<% end %>
<div class="small-9 columns">
  <% @integrations.each do |integration| %>
  <div class="row agent-info <%= (integration.status != 0) ? 'info-enabled' : 'info-disabled'  %>">
    <div class="small-11 columns left">
      <h6 class="subheader"><%= integration.title %></h6>
      <div class="row">
        <div class="small-5 columns">
          <ul class="no-bullet">
            <% integration.agents.each do |agent| %>
            <li><%= link_to agent.title, agent %>
              <span class="label secondary radius icon-publisher"> <%= agent.publisher %></span>
              <span class="label secondary radius icon-schedule"> <%= agent.schedule %></span></li>
              <% end %>
            </ul>
          </div>
          <div class="small-1 columns icon-forward" style="font-size: 2em;">
            &nbsp;
          </div>
          <div class="small-5 columns">
            <ul class="no-bullet">
              <% integration.templates.each do |template| %>
              <li><%= link_to template.title, template %>
                <span class="label secondary radius icon-publisher"><%= template.publisher %></span></li>
                <% end %>
              </ul>
            </div>
            <div class="small-1 columns">
              &nbsp;
            </div>
          </div>
        </div>
        <div class="small-1 columns right">
          <%= link_to '', edit_integration_path(integration), :class => 'action right icon-settings' %>
          <br />
          <%= link_to '', integration, :class => 'action right icon-view' %>
        </div>
      </div>
      <% end %>
      <hr>
      <h5 class="subheader">Add Sample Integration</h5>
      <div class="row agent-info info-enabled">
        <div class="small-11 columns">
          <div class="left">
            <div class="circle_48 on">
              &infin;
            </div>
          </div>
          <div class="info-details">
            <h6 class="subheader">Twitter Monitor</h6>
            <span class="label secondary icon-publisher">json</span>
            <span class="label secondary icon-schedule">5m</span>
          </div>
        </div>
        <div class="small-1 columns right">
          <div class="right">
            <%= link_to ''.html_safe, new_agent_path, :class => 'action right has-tooltip icon-add', :title => "Add Twitter Monitor sample integration", data: {:tooltip => ''}  %>
          </div>
        </div>
      </div>
    </div>
    <!-- sidebar -->
    <div class="small-3 columns">
      <% if current_user.agents.empty? %>
      <%= link_to 'New Agent', new_agent_path, :title => 'Create new agent', :class => 'button small radius icon-agent', :data => { :tooltip => ''} %>
      <% else %>
      <% if current_user.templates.empty? %>
      <%= link_to ' New Template', new_template_path, :class => 'button small radius icon-template' %>
      <% else %>
      <%= link_to ' New Integration'.html_safe, new_integration_path, :class => 'button small radius icon-integration' %>
      <% end %>
      <% end %>
      <h4>Go to</h4>
      <ul class="no-bullet">
        <li><%= link_to 'Agents'.html_safe, {:controller => '/agents'}, :class => 'icon-agent'%></li>
        <li><%= link_to 'Templates'.html_safe, {:controller => '/templates'}, :class => 'icon-template'%></li>
        <li><%= link_to 'Files', {:controller => '/files', :action => 'index'}, :class => 'icon-files' %></li>
      </ul>
      <%= render partial: "helper/event_list"  %>
    </div>