<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]>
  <html class="ie6" lang="en">
<![endif]-->
<!--[if IE 7 ]>
  <html class="ie7" lang="en">
<![endif]-->
<!--[if IE 8 ]>
  <html class="ie8" lang="en">
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <!-- Uncomment to make IE8 render like IE7 -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= favicon_link_tag 'favicon.ico' %>
    <title><%= content_for?(:title) ? yield(:title) : Settings.app.title %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="off-canvas-wrap">
      <div class="inner-wrap">
        <div class="fixed">
          <nav class="top-bar">
            <ul class="title-area">
              <!-- Title Area -->
              <li class="name">
                <h1><a href="<%= root_url %>" class="icon-i2x"></a></h1>
              </li>
              <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
            </ul>
            <section class="top-bar-section">
              <ul class="right">
                <li><a class="right-off-canvas-toggle has-tip icon-user" title="User" data-tooltip> </a></li>
              </ul>
              <!-- Right Nav Section -->
              <ul class="right">
                <li data-tooltip class="has-tip" title="About"><%= link_to '', {:controller => '/about', :action => 'index'}, :class => 'icon-about' %></li>
                <li data-tooltip class="has-tip" title="Documentation"><%= link_to '', {:controller => '/documentation', :action => 'index'}, :class => 'icon-documentation' %></li>
              </ul>
            </section>
          </nav>
        </div><!-- End Top Bar -->
        <!-- Start main content -->
        <div class="row content">
          <%= yield %>
        </div>
        <br />
        <!-- Finish main content -->
        <!-- User sidebar -->
        <aside class="right-off-canvas-menu side-user">
          <%= render partial: "helper/sidenav"  %>
        </aside>
        <a class="exit-off-canvas"></a>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      var pluginUrl =
      '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
      _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
      _gaq.push(['_setAccount', 'UA-12230872-9']);
      _gaq.push(['_trackPageview']);
      
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
<!--
 _  ____        
(_)|___ \ __  __
| |  __) |\ \/ /
| | / __/  >  < 
|_||_____|/_/\_\
                
-->